In [11]:
import pandas as pd

df1 = pd.DataFrame({'key':list('abcdefgh'), 'data':range(8)})
df1

  key  data
0   a     0
1   b     1
2   c     2
3   d     3
4   e     4
5   f     5
6   g     6
7   h     7

In [12]:
df2 = pd.DataFrame({'key':list('abcdefgh'), 'data':range(8, 0, -1)})
df2

  key  data
0   a     8
1   b     7
2   c     6
3   d     5
4   e     4
5   f     3
6   g     2
7   h     1

In [25]:
df = pd.merge(df1, df2, how="outer", on="key")
df

  key  data_x  data_y
0   a       0       8
1   b       1       7
2   c       2       6
3   d       3       5
4   e       4       4
5   f       5       3
6   g       6       2
7   h       7       1

In [27]:
df['is_equal'] = df.data_x == df.data_y
df

  key  data_x  data_y  is_equal
0   a       0       8     False
1   b       1       7     False
2   c       2       6     False
3   d       3       5     False
4   e       4       4      True
5   f       5       3     False
6   g       6       2     False
7   h       7       1     False

In [28]:
df.query('is_equal == True')

  key  data_x  data_y  is_equal
4   e       4       4      True

In [21]:
df = pd.merge(df1, df2, how="inner", on="key")
df

  key  data_x  data_y
0   a       0       8
1   b       1       7
2   c       2       6
3   d       3       5
4   e       4       4
5   f       5       3
6   g       6       2
7   h       7       1

In [22]:
df = pd.merge(df1, df2, how="inner")
df

  key  data
0   e     4

In [23]:
df = pd.merge(df1, df2, how="outer")
df

   key  data
0    a     0
1    b     1
2    c     2
3    d     3
4    e     4
5    f     5
6    g     6
7    h     7
8    a     8
9    b     7
10   c     6
11   d     5
12   f     3
13   g     2
14   h     1

In [3]:
s = u'环境.txt'
print(s)
print(s.encode())
print(s.encode('gb2312'))

环境.txt
b'\xe7\x8e\xaf\xe5\xa2\x83.txt'
b'\xbb\xb7\xbe\xb3.txt'

In [10]:
import numpy as np
a = np.array([(1, 2, 3),(4, 5, 6)])
b = np.array([(1, 2)])
c = np.array([(5, 6)])
a, b, c

(array([[1, 2, 3],
        [4, 5, 6]]), array([[1, 2]]), array([[5, 6]]))

In [9]:
a.shape

(2, 3)

In [8]:
df = pd.DataFrame(a)
df

   0  1  2
0  1  2  3
1  4  5  6

In [13]:
b.shape

(1, 2)

In [15]:
b.reshape(-1,1)

array([[1],
       [2]])

In [16]:
df['3'] = b.reshape(-1,1)
df['4'] = c.reshape(-1,1)
df

   0  1  2  3  4
0  1  2  3  1  5
1  4  5  6  2  6

In [17]:
import pandas as pd

df = pd.DataFrame({
            'a' : a,
            'b' : b.reshape(-1,1),
            'c' : c.reshape(-1,1)
       })
df

ValueError: If using all scalar values, you must pass an index