# 参考来源
数据集：链接： https://pan.baidu.com/s/1KVRkkRp-E-W0tS4Q9qU7Ag 提取码：a9wl

https://blog.51cto.com/u_15088375/3249422

# 1.导入数据包

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

df_data = pd.read_csv('./heart.csv')
df_data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

# 2.简单统计

In [2]:
df_data.target.value_counts()

1    165
0    138
Name: target, dtype: int64

In [3]:
df_data.isna().any()

age         False
sex         False
cp          False
trestbps    False
chol        False
fbs         False
restecg     False
thalach     False
exang       False
oldpeak     False
slope       False
ca          False
thal        False
target      False
dtype: bool

# 3.缺失值填充

In [6]:
df_data = df_data.fillna(0)  # 补全为0 的影响不会很大，除了类似于线性回归的迭代类型模型

# 4.切分数据集

In [7]:
features_name = [columns_name for columns_name in df_data.columns if columns_name not in ['target']]

# 5.独热化

In [9]:
pd.get_dummies(df_data)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

# 6.标准化
标准化的流程简单来说可以表达为:将数据按其属性(按列进行)减去其均值，然后除以其方差。最后得到的结果是，对每个属性/每列来说所有数据都聚集在0附近，方差值为1。

In [10]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split # 数据划分

print(df_data[features_name].shape)
stdScaler = StandardScaler()
X = stdScaler.fit_transform(df_data[features_name])
X_train_scaler,X_test_scaler,y_train_scaler,y_test_scaler = train_test_split(X,df_data['target'],test_size=0.3, random_state=0) 
X.shape

(303, 13)

(303, 13)

# 7.非标准化

In [11]:
X_train,X_test,y_train,y_test = train_test_split(df_data[features_name],df_data['target'],test_size=0.3, random_state=0) 
y_test_scaler.value_counts()

1    47
0    44
Name: target, dtype: int64

In [12]:
X_train_scaler.shape

(212, 13)

# 8.训练模型
## 8.1 LR模型

In [13]:
from sklearn.linear_model import LogisticRegression
# 标准化
clf = LogisticRegression().fit(X_train_scaler, y_train_scaler)
clf.score(X_test_scaler, y_test_scaler)

0.8131868131868132

In [16]:
# 非标准化
clf = LogisticRegression().fit(X_train, y_train)
clf.score(X_test, y_test)

0.8021978021978022

## 8.2 KNN 模型

In [17]:
from sklearn.neighbors import KNeighborsClassifier
# 标准化
clf = KNeighborsClassifier(n_neighbors=3).fit(X_train_scaler, y_train_scaler)
clf.score(X_test_scaler, y_test_scaler)

0.8571428571428571

## 8.3 GaussianNB 模型

In [18]:
from sklearn.naive_bayes import GaussianNB
# 标准化
clf = GaussianNB().fit(X_train, y_train)
clf.score(X_test, y_test)

0.8021978021978022

## 8.4Tree树模型

In [19]:
from sklearn.tree import DecisionTreeClassifier
# 标准化
clf = DecisionTreeClassifier().fit(X_train, y_train)
clf.score(X_test, y_test)

0.7252747252747253

## 8.5 bagging模型

In [22]:
from sklearn.ensemble import BaggingClassifier
from sklearn.neighbors import KNeighborsClassifier
# 标准化
clf = BaggingClassifier(KNeighborsClassifier(), max_samples=0.5, max_features=0.5).fit(X_train, y_train)
clf.score(X_test, y_test)

0.6813186813186813

## 8.6 随机森林

In [24]:
from sklearn.ensemble import RandomForestClassifier
# 标准化
clf = RandomForestClassifier(n_estimators=100, max_depth=None, min_samples_split=2, random_state=0).fit(X_train, y_train)
clf.score(X_test, y_test)

0.8351648351648352

## 8.7 ExTree模型

In [25]:
from sklearn.ensemble import ExtraTreesClassifier
# 标准化
clf = ExtraTreesClassifier(n_estimators=100, max_depth=None, min_samples_split=2, random_state=0).fit(X_train, y_train)
clf.score(X_test, y_test)

0.8131868131868132

## 8.8 AdaBoost模型

In [26]:
from sklearn.ensemble import AdaBoostClassifier
# 标准化
clf = AdaBoostClassifier(n_estimators=100).fit(X_train, y_train)
clf.score(X_test, y_test)

0.7912087912087912

## 8.9 GBDT模型

In [27]:
from sklearn.ensemble import GradientBoostingClassifier
# 标准化
clf = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0, max_depth=1, random_state=0).fit(X_train, y_train)
clf.score(X_test, y_test)

0.8131868131868132

# 9 模型融合
## 9.1 模型投票
投票的模型融合需要去除 单模型效果不好的，因为投票模型融合改善的是variance ，对偏差降的低，所以单模型差的会拉低融合模型

In [28]:
from sklearn import datasets
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.preprocessing import StandardScaler

stdScaler = StandardScaler()
X = stdScaler.fit_transform(df_data[features_name])
y = df_data['target']


clf1 = GaussianNB()
clf2 = DecisionTreeClassifier()
clf3 = KNeighborsClassifier(n_neighbors=3)

eclf = VotingClassifier(estimators=[('lr', clf1), ('tree', clf2), ('knn', clf3)], voting='hard')

for clf, label in zip([clf1, clf2, clf3, eclf], ['GaussianNB', 'DecisionTreeClassifier', 'KNeighborsClassifier', 'Ensemble']):
    scores = cross_val_score(clf, X, y, cv=5, scoring='accuracy')
    print("Accuracy: %0.5f (+/- %0.5f) [%s]" % (scores.mean(), scores.std(), label))

Accuracy: 0.80508 (+/- 0.05545) [GaussianNB]
Accuracy: 0.75885 (+/- 0.04830) [DecisionTreeClassifier]
Accuracy: 0.82186 (+/- 0.03659) [KNeighborsClassifier]
Accuracy: 0.82503 (+/- 0.04407) [Ensemble]