# 0、数据集
两个字符串特征，标签为0和1。  
分类模型

# 1、依赖包导入

In [1]:
# coding:utf-8
import numpy as np  # 数学
import pandas as pd
from sklearn import datasets  #用数据库去学习，或者把数据库放到tenserflow模块练习
from sklearn.model_selection import train_test_split # 数据集测试集分离
from sklearn.neighbors import KNeighborsClassifier   # 会选择邻近几个点作为他的邻居，综合临近几个点模拟出数据的预测值
from sklearn.model_selection import cross_val_score
from sklearn.naive_bayes import GaussianNB
import matplotlib.pyplot as plt
import warnings 
warnings.filterwarnings("ignore")
import seaborn as sns
import os
%matplotlib inline

# 2、导入数据集

In [33]:
data = pd.read_csv('./sample.csv')
data.drop(['Unnamed: 0', '0'], axis=1, inplace=True)
data.head()

     1       2  3
0   VB    ROOT  0
1  PRP  dative  0
2   DT     det  0
3  NNS    dobj  1
4   IN    prep  0

In [6]:
data.shape

(2610, 3)

In [5]:
for feat in data.columns:
    print(len(data[feat].unique()))

32
37
2

In [42]:
data = pd.concat([data, pd.get_dummies(data[['1', '2']])], axis=1)
data.head()

,1,2,3,1_AFX,1_CC,1_CD,1_DT,1_EX,1_FW,1_IN,...,2_pobj,2_poss,2_preconj,2_predet,2_prep,2_prt,2_punct,2_quantmod,2_relcl,2_xcomp
0,VB,ROOT,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,PRP,dative,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,DT,det,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,NNS,dobj,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,IN,prep,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0

# 3、数据值数值化

In [8]:
for feat in data.columns:
    data[feat] = pd.factorize(data[feat])[0]

In [10]:
data.head()

   1  2  3
0  0  0  0
1  1  1  0
2  2  2  0
3  3  3  1
4  4  4  0

# 4、K折交叉验证

In [44]:
y = data['3'].values
data.drop(['1', '2', '3'], axis=1, inplace=True)
x = data.values

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=520)
print(x_train.shape, x_test.shape)

(2088, 276) (522, 276)

# 5、模型训练

## 5-1、朴素贝叶斯

In [45]:
GNB = GaussianNB().fit(x_train, y_train)
print(cross_val_score(GNB, x_train, y_train).mean())

0.7461685823754789

## 5-2、逻辑斯特回归

In [47]:
from sklearn.linear_model import LogisticRegression  #导入逻辑回归模块  
LR = LogisticRegression().fit(x_train, y_train)
print(cross_val_score(LR, x_train, y_train).mean())

0.8697318007662836