# 需求：三个数据集合并列名需要求并集

In [6]:
import pandas as pd

df1 = pd.DataFrame({'a':1, 'b':2, 'c':3, 'd':4}, index=[0])
df2 = pd.DataFrame({'a':1, 'b':2, 'e':5, 'f':6}, index=[0])
df3 = pd.DataFrame({'a':1, 'c':3, 'e':5, 'h':7}, index=[0])
df1, df2, df3

(   a  b  c  d
 0  1  2  3  4,    a  b  e  f
 0  1  2  5  6,    a  c  e  h
 0  1  3  5  7)

In [15]:
df = pd.concat([df1, df2, df3], ignore_index=True, sort=False)
df

   a    b    c    d    e    f    h
0  1  2.0  3.0  4.0  NaN  NaN  NaN
1  1  2.0  NaN  NaN  5.0  6.0  NaN
2  1  NaN  3.0  NaN  5.0  NaN  7.0

In [19]:
df = df.fillna(0).astype(int)
df

   a  b  c  d  e  f  h
0  1  2  3  4  0  0  0
1  1  2  0  0  5  6  0
2  1  0  3  0  5  0  7

In [20]:
df.isna().any()

a    False
b    False
c    False
d    False
e    False
f    False
h    False
dtype: bool

In [21]:
TRAIN_BLACK_IMAGE_MATRIX_PATH = 'D:\\Github\\Machine_to_DeepingLearning\\Competition\\恶意样本检测\\features\\data\\train_black_image_matrix.csv'
TRAIN_WHITE_IMAGE_MATRIX_PATH = 'D:\\Github\\Machine_to_DeepingLearning\\Competition\\恶意样本检测\\features\\data\\train_white_image_matrix.csv'
TEST_IMAGE_MATRIX_PATH = 'D:\\Github\\Machine_to_DeepingLearning\\Competition\\恶意样本检测\\features\\data\\test_image_matrix.csv'

train_white_dataset = pd.read_csv(TRAIN_WHITE_IMAGE_MATRIX_PATH)
train_black_dataset = pd.read_csv(TRAIN_BLACK_IMAGE_MATRIX_PATH)
test_dataset        = pd.read_csv(TEST_IMAGE_MATRIX_PATH)
train_white_dataset.shape, train_black_dataset.shape, test_dataset.shape

((11, 113), (2, 245), (5, 1297))

In [36]:
train_white_dataset.dtypes

FileName    object
pix0        object
pix1        object
pix2        object
pix3        object
             ...
pix107      object
pix108      object
pix109      object
pix110      object
pix111      object
Length: 113, dtype: object

In [37]:
train_white_dataset.iloc[0]

FileName                                         fastopen.exe
pix0        [ 77  90 114   1   2   0   0   0  32   0  23  ...
pix1        [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...
pix2        [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...
pix3        [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0...
                                  ...
pix107                                                    NaN
pix108                                                    NaN
pix109                                                    NaN
pix110                                                    NaN
pix111                                                    NaN
Name: 0, Length: 113, dtype: object

In [38]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)